* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: lato;
  width: 100%;
  overflow-x: hidden;
}
.section-desc {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  text-align: center;
  line-height: 30px;
  margin-top: 24px;
}
.section-heading {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  margin-top: 120px;
}
span {
  color: #e55473;
}
.banner-btn {
  padding: 20px 43px;
  margin-top: 32px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  background: #e55473;
}
/* banner section */
.banner-container {
  display: flex;
  height: 100vh;
  padding: 0px 50px;
  justify-content: space-around;
  align-items: center;
  background: rgba(229, 84, 115, 0.1);
}
.banner-text {
  padding-top: 10px;
  padding-left: 50px;
}
.banner-heading {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
}
.banner-desc {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  line-height: 30px;
  margin-top: 32px;
}

.banner-img {
  width: 535px;
  height: 715px;
  padding-top: 50px;
}
/* banner section end*/

/* featured flower section */
.featured-flowers {
  display: flex;
  justify-content: space-around;
  gap: 24px;
  margin: 48px 200px 32px;
}
.featured-text {
  text-align: center;
}

.image-2 {
  max-width: 320px;
  max-height: 380px;
  padding: 117px 55px 35px 20px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  background-size: 500px;
}
.image-1 {
  max-width: 320px;
  max-height: 550px;
  padding: 135px 80px 0px 51px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  background-size: 500px;
}
.image-1 img {
  max-width: 280px;
  max-height: 550px;
}
.image-3 {
  max-width: 350px;
  max-height: 550px;
  padding: 87px 55px 0px 51px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  background-size: 500px;
}
.image-3 img {
  max-width: 290px;
  max-height: 500px;
}
.flower-name {
  color: #272727;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
}
/* featured flower section end */

/* delivery section */
.delivery-points {
  display: flex;
  gap: 30px;
  padding: 80px 150px;
  margin: 80px 140px;
  text-align: center;
  justify-content: space-around;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
}
.delivery-desc {
  color: rgba(39, 39, 39, 0.8);
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 35px;
}
/* delivery section end */

/* hot deal section */
.hot-deal {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
}
.hot-deal-text {
  text-align: center;
  padding-left: 100px;
}
.hot-deal-img {
  padding-top: 40px;
  padding-right: 50px;
}
/* hot deal section end */

/* custom arrangement section */
.custom-img {
  display: flex;
  justify-content: space-around;
  margin: 50px 120px;
}
.custom-img img {
  width: 280px;
  height: 320px;
}
/* custom arrangement section end */
